<a href="https://colab.research.google.com/github/2303A51641/23CSBTB29/blob/main/Listtypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Implement basic Datastructures using Numpy and Pandas

In [1]:
lst1=(5,6,7,8,9)
print(lst1)
print(type(lst1))

(5, 6, 7, 8, 9)
<class 'tuple'>

In [2]:
lst2={5,6,7,8,9}
print(lst2)
print(type(lst2))

{5, 6, 7, 8, 9}
<class 'set'>

In [3]:
lst3=[5,6,7,8,9]
print(lst3)
print(type(lst3))

[5, 6, 7, 8, 9]
<class 'list'>

In [4]:
lst4={1:"apple",2:"banana",3:"cherry"}
print(lst4)
print(type(lst4))

{1: 'apple', 2: 'banana', 3: 'cherry'}
<class 'dict'>

In [5]:
lst5="welcome to AI-ML Lab"
print(lst5)
print(type(lst5))

welcome to AI-ML Lab
<class 'str'>

In [6]:
lst6=3.14
print(lst6)
print(type(lst6))

3.14
<class 'float'>

In [7]:
lst7=5j+8
print(lst7)
print(type(lst7))

(8+5j)
<class 'complex'>